
/* ===========================
   CUSTOM CURSOR
=========================== */
.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  pointer-events: none;
  z-index: 999999;
  will-change: transform;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: translate3d(0, 0, 0);
}

/* Cursor image */
.cursor-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}